* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    overflow-wrap: anywhere;
    font-family: "Zen Kaku Gothic New", "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  html {
    scroll-behavior: smooth;
  }

  ul, li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #0F1A45;
  }

  .l-container {
    background-color: #0b9b8a;
    padding-top: 100px;

    @media screen and (max-width:768px) {
      padding-top: 50px;
    }
  }

  .l-header {
    min-height: 50px;
    display: flex;
    justify-content: center;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 50px;

        @media screen and (max-width:768px) {
          gap: 10px;
          padding: 20px 10px;
        }
    }

    &__item {
      @media screen and (max-width:768px) {
        font-size: 1.2rem;
      }

      > a {
          font-size: 16px;
          font-weight: 700;
          transition: opacity .3s;

          &:hover {
              opacity: .3;
          }
      }
    }
  }

  .l-section {
    margin-top: 40px;
    padding: 40px;

    @media screen and (max-width:768px) {
      margin-top: 20px;
      padding: 20px;
    }
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 150px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px #fff solid;

    @media screen and (max-width:768px) {
      font-size: 48px;
      text-align: center;
    }
  }

  h2 {
    background-color: #efd96f;
    color: #0F1A45;
    padding-block: 20px;
    padding-inline: 10px;
  }

  .m-table {
    display: block;
    padding-inline: 20px;
    margin-top: 40px;
    color: #fff;

    tbody {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    tr {
        display: flex;
        text-align: left;
        flex-direction: column;
        row-gap: 5px;
    }

    th {
        flex-basis: 15%;
        color: #efd96f;
    }

    th,
    td {
        display: block;
    }

    .m-table {
        margin-top: 0;
        padding: 0;

        th {
            flex-basis: 30%;
        }
    }
  }