<h1>PORTFOLIO</h1>

<section class="l-section">
  <h2 id="anc">プロフィール/自己PR</h2>
  <table class="m-table">
    <tr>
      <th>氏名</th>
      <td>町田 瞳</td>
    </tr>
    <tr>
      <th>略歴</th>
      <td>
        前職では3年半、人材会社のマーケティングの部署にて自社サイトの運用を担当していました。<br
        />
        現在はWeb制作会社にてWebサイトのフロントエンド開発をしており、現在3年目になります。
      </td>
    </tr>
    <tr>
      <th>強み/専門分野</th>
      <td>アクセシビリティを強みとしています。</td>
    </tr>
    <tr>
      <th>自己PR</th>
      <td>アクセシビリティ</td>
    </tr>
    <tr>
      <th>将来の夢</th>
      <td
        >多くの人に利用してもらえるような、1つの事業を育てることをしたいです。</td
      >
    </tr>
  </table>
</section>

<section class="l-section">
  <h2 id="anc-2">スキル/資格</h2>
  <table class="m-table">
    <tr>
      <th>フロントエンド</th>
      <td>HTML / CSS / JavaScript / Typescript / React</td>
    </tr>
    <tr>
      <th>その他のツール</th>
      <td>GitHub / GitLab / VSCode</td>
    </tr>
  </table>
</section>

<section class="l-section">
  <h2 id="anc-3">開発アプリ</h2>
  <table class="m-table">
    <tr>
      <th>アプリ名</th>
      <td>TO DO LIST</td>
    </tr>
    <tr>
      <th>概要</th>
      <td
        >やることリストをメモとして残しておくことで、タスク管理ができる機能です。</td
      >
    </tr>
    <tr>
      <th>想定ユーザー</th>
      <td>タスク管理が必要な方</td>
    </tr>
    <tr>
      <th>GitHubリポジトリ</th>
      <td
        ><a href="https://github.com/Hitomi-pupila/trello" target="_blank"
          >https://github.com/Hitomi-pupila/trello</a
        ></td
      >
    </tr>
    <tr>
      <th>公開URL</th>
      <td
        ><a href="https://trello-one-dun.vercel.app/" target="_blank"
          >https://trello-one-dun.vercel.app/</a
        ></td
      >
    </tr>
    <tr>
      <th>使用技術</th>
      <td>
        <table class="m-table">
          <tr>
            <th>フロントエンド</th>
            <td>HTML, CSS, JavaScript, React</td>
          </tr>
          <tr>
            <th>デプロイ</th>
            <td>Vercel</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <th>技術選定理由</th>
      <td
        >ユーザーインターフェースが直感的で、Reactのコンポーネントベース開発が効率的だから。</td
      >
    </tr>
    <tr>
      <th>要件定義の工夫</th>
      <td>ユーザーが簡単にタスクを追加・削除できる機能を最優先に設計。</td>
    </tr>
    <tr>
      <th>設計上の工夫</th>
      <td>柔軟でレスポンシブなデザインを採用。</td>
    </tr>
    <tr>
      <th>UIの工夫</th>
      <td>タスクの状態を視覚的にわかりやすく表示。</td>
    </tr>
    <tr>
      <th>実装上の工夫</th>
      <td
        >ドラッグ＆ドロップ機能を使い、タスクの順番を簡単に変更できるようにした。</td
      >
    </tr>
    <tr>
      <th>その他今後改良したい点</th>
      <td>React DnDライブラリの改善を検討。</td>
    </tr>
  </table>
</section>

<section class="l-section">
  <h2 id="anc-4">今後の目標</h2>
  <table class="m-table">
    <tr>
      <th>今後の目標</th>
      <td
        >Web制作だけでなく、Webアプリケーション開発においても深い知識を持ち続けたい。</td
      >
    </tr>
  </table>
</section>

・UI改善 ・ローカルストレージ機能・リセット ・期限設定（赤字になるように）
・クリックしてもらえるようにアニメーションをつけた ・書いたタスクの修正
・ボタンのaria-label
