<header>
  <div class="l-header">
    <ul class="l-header__list">
      <li class="l-header__item"><a href="#anc">プロフィール/自己PR</a></li>
      <li class="l-header__item"><a href="#anc-2">スキル/資格</a></li>
      <li class="l-header__item"><a href="#anc-3">開発アプリ</a></li>
      <li class="l-header__item"><a href="#anc-4">今後の目標</a></li>
    </ul>
  </div>
</header>
